@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background-color: rgb(192, 255, 247);
}

.container {
    height: 500px;
    width: 700px;
    margin: 100px auto;
    padding: 20px;
    border: 10px ;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.808);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

h2 {
    margin-bottom: 20px;

}

h3 {
    margin-left: 4px;
}
.blocks {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
.block-1 {
    border: 1px solid rgb(126, 126, 126);
    border-style: dashed;
    border-radius: 10px;
    padding: 10px;
    max-width: 40%;
}

.filters {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    
}

.filters button {
    padding: 2px;
    margin: 4px;
    height: 35px;
    font-family: 'Poppins';
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border-color: rgb(167, 242, 255);
}

img {
    max-width: 98%;
    margin-left: 10px;
}

.slider {
    padding: 4px;
    margin-top: 10px;
    
}
.val {
    display: flex;
    justify-content: space-between;

}

.slider-bar {
    width: 100%;
    color: aqua;
    background-color: aqua;
    accent-color: rgb(178, 240, 7);
}

.tools {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}
.tools img {
    max-width: 10%;
    color: black;
    fill: aqua;

}

.controls {
    display: flex;
    justify-content: space-between;
}

.controls button {
    padding: 5px;
    margin: 4px;
    height: 35px;
    font-family: 'Poppins';
    background: rgb(2, 255, 200);
    border-radius: 5px;
    border-color: rgb(167, 242, 255);
}


